.caught-pokemon img{
    background-color: white;
    vertical-align: middle;
}

.caught-pokemon {
    border: solid 2px black;
    background-color: white;
    padding: 5px 40px;
    border-radius: 4px;
    flex: 40%;
    margin: 10px;
}
