body{
  background-color: red;
  padding: 20px;
}

.App {
  text-align: center;
  
}

h1{
  font-family: futura-pt-bold, sans-serif;
  font-weight: 900;
  font-style: normal;
  text-shadow: 1px 1px 2px white;
  font-size: 3em;
}

h2{
  font-family: futura-pt-bold, sans-serif;
  font-weight: 700;
  font-style: normal;
}

h3{
  font-family: futura-pt-bold, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: capitalize;
}

hr{
  color: #F9D94D;
  border-top: black 1px solid;
  border-bottom: 3px solid #F9D94D;
  border-radius: 5px;
}